<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <style>
    .center-div {
      background-color: #c2c2d5;
      width: 50%;
      margin: 0 auto;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="center-div">
    <h1>Welcome to HomePage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi possimus ducimus architecto explicabo optio! Eius aliquam illum sapiente alias iusto! Quisquam provident est eos odio, suscipit aliquid voluptates temporibus cumque?Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni velit voluptate nemo laboriosam debitis ipsum, fugit facilis minus commodi eveniet adipisci iusto, necessitatibus dolore! Officiis omnis minus ut. Fuga, voluptate!</p>
  </div>
</body>
</html>
